/* .banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.bannerOne {
  background-image: url("https://images.pexels.com/photos/15455107/pexels-photo-15455107/free-photo-of-colorful-sunset-dom.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.bannerTwo::after,
.bannerOne::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.454);
}
.bannerTwo {
  background-image: url("https://images.pexels.com/photos/356691/pexels-photo-356691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.banner .banner-text {
  position: absolute;
  bottom: 30px;
  left: 24px;
  color: white;
  z-index: 10;
}
.banner .banner-text-right {
  position: absolute;
  bottom: 50px;
  right: 24px;
  color: white;
  z-index: 10;
}
 */

 body {
  font-family: 'Montserrat' !important;;
 }

.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2; /* Places the video behind all content */
}

.dotted-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b1;
  background-image: url("https://png.pngtree.com/png-vector/20220921/ourmid/pngtree-black-halftone-dots-overlay-background-png-image_6208919.png"); /* Update with the actual path */
  opacity: 0.5; /* Adjust for preferred transparency */
  z-index: -1; /* Overlay sits above video but behind text */
}

.banner .banner-text {
  position: absolute;
  bottom: 30px;
  left: 24px;
  color: white;
  z-index: 10;
}
.banner .banner-text-right {
  position: absolute;
  bottom: 50px;
  right: 24px;
  color: white;
  z-index: 10;
}

.bannerOne,
.bannerTwo {
  height: 100vh;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: white;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 0.7;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #333;
  opacity: 1;
}

.serviceImage {
  overflow: hidden;
}

.serviceImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  background-color: rgba(0, 0, 0, 0.502);
}

.overlayText {
  position: absolute;
  bottom: 18px;
  left: 18px;
  color: white;
  z-index: 10;
  background-color: #0000009c;
  padding: 6px 16px;
}

.projectImage {
  overflow: hidden;
}

.projectImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  background-color: rgba(0, 0, 0, 0.37);
}

@media (min-width: 500px) and (max-width: 1000px) {
  .translate-600-1000 {
    transform: translateY(-50%);
    top: 60%;
  }
}

.aboutImage {
  background-image: url("./assets/images/aboutbg.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 500px) {
  .aboutImage {
    height: 30vh;
    background-position: top center;
  }
}

.modal-scroll {
  max-height: 90vh;
  overflow-y: auto;
}
.project-card {
  position: relative;
  overflow: hidden;
  width: 100%; /* Ensures the card takes up full column width */
  height: 100%; /* Maintains aspect ratio */
}
.project-card .project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom right, #ea0027, #9c0000);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in, visibility 0.5s ease-in-out;
}

.project-card:hover .project-overlay {
  opacity: 1;
  visibility: visible;
}

.project-card .project-overlay .first-span {
  font-weight: bold;
  border-left: 4px solid white;
  transform: translateX(20px) translateY(20px);
  transition: transform 0.5s ease-in-out;
}

.project-card:hover .project-overlay .first-span {
  transform: translateX(0) translateY(0);
}

.extra-bold {
  font-weight: 900;
  -webkit-text-stroke: 0.9px rgba(0, 0, 0, 0.441); /* Adds extra bold effect */
}

/* Apply gradient to modal content */
.ant-modal-content {
  background: linear-gradient(
    to bottom right,
    #ea0027,
    #9c0000
  ); /* Red gradient */
}

/* Ensure modal body is transparent for the gradient to show */
.ant-modal-body {
  background: transparent;
}
.ant-modal-body br {
  display: block;
  content: "";
  height: 0.4px;
  background-color: white; /* Creating a white break */
}
